@page "/account"
@using BlazorCore.Game
@inject GameService GameService

@using Cloudcrate.AspNetCore.Blazor.Browser.Storage;
@inject LocalStorage Storage

<h3>Account</h3>

<EditForm Model="@player" OnValidSubmit="@SaveProfile">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="name" @bind-Value="@player.Name" />

    <button type="submit">Submit</button>
</EditForm>

@code {
    private GameService.Player player;

    private void SaveProfile()
    {
        Console.WriteLine("OnValidSubmit");
    }

    protected override async Task OnInitAsync()
    {
        player = GetPlayer();
    }

    public GameService.Player GetPlayer()
    {
        var player = GameService.Players.FirstOrDefault(n => n.UID == GetUID());
        if (player == null)
        {
            GameService.Players.Add(new GameService.Player()
            {
                UID = GetUID()
            });
            player = GameService.Players.FirstOrDefault(n => n.UID == GetUID());
        }

        return player;
    }

    public string GetUID()
    {
        if (String.IsNullOrEmpty(Storage["UID"]))
            Storage["UID"] = Guid.NewGuid().ToString();

        return Storage["UID"];
    }
}
