@if (Message != "")
{
    <div class="gz-overlay">
        <div>
            <h3>@Message</h3>
            @if (Description != "")
            {
                <p>@Description</p>
            }
        </div>
    </div>
}
@code {
    [Parameter]
    public string Message { get; set; } = "";
    [Parameter]
    public string Description { get; set; } = "";
}
