@page "/game"
@using BlazorCore.Services
@*@inject GameService GameService*@
@inherits SessionComponent

<h1>Game</h1>

@{
    GameService.GameSession session = null;

    if (player != null)
    {
        session = GameService.Sessions.FirstOrDefault();
        if (session == null)
        {
            var id = GameService.NewSession(player);
            session = GameService.Sessions.FirstOrDefault(n => n.UID == id);
        }
    }

    if (session != null)
    {
        <Level SessionUID="@session.UID"></Level>
    }
}

@code {

}